framework: net46

source https://www.nuget.org/api/v2/

nuget NuGet.CommandLine
nuget Gauge.CSharp.Core 0.2.1 framework: >= net45
nuget Gauge.CSharp.Lib 0.6.1 framework: >= net45
nuget Google.Protobuf 3.1.0 framework: >= net45
nuget Microsoft.CSharp 4.0.0
nuget VSSDK.ComponentModelHost 12.0.4 framework: >= net45
nuget VSSDK.CoreUtility 12.0.4
nuget VSSDK.CoreUtility.12 12.0.4 framework: >= net45
nuget VSSDK.Editor 12.0.4 framework: >= net45
nuget VSSDK.GraphModel 12.0.4
nuget VSSDK.IDE.12 12.0.4
nuget VSSDK.Language 12.0.4 framework: >= net45
nuget VSSDK.OLE.Interop 7.0.4
nuget VSSDK.Shell.12 12.0.4
nuget VSSDK.Shell.Interop.12 12.0.4 framework: >= net45
nuget VSSDK.Text 12.0.4
nuget VSSDK.Text.12 12.0.4 framework: >= net45
nuget VSSDK.TextManager.Interop 7.0.4
nuget VSSDK.TextManager.Interop.8 8.0.4
nuget VSSDK.Threading 12.0.4
nuget VSSDK.Threading.12 12.0.4
nuget VSSDK.VSLangProj 7.0.4 framework: >= net45
nuget EnvDTE80 8.0.0
nuget Microsoft.VSSDK.BuildTools 14.3.25420
nuget Microsoft.TestPlatform.ObjectModel 11.0.0
nuget Microsoft.VisualStudio.TestWindow.Interfaces 11.0.61030
nuget Microsoft.Net.Compilers

group Test
    framework: net46
    source https://www.nuget.org/api/v2/

    nuget FakeItEasy framework: >= net45
    nuget NUnit 3.0.1 framework: >= net45
    nuget NUnit.Runners 3.0.1 framework: >= net45
